<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FSharp Intellisense</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("css", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>

    <a href="~/">ACE Editor SignalR Implementation</a> |
    <a href="~/home/webapi">ACE Editor Web API Implementation</a> |
    <a href="~/codemirror/">CodeMirror SignalR Implementation</a> |
    <a href="~/codemirror/webapi">CodeMirror Web API Implementation</a>

    @RenderBody()
</body>
</html>