<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FSharp Intellisense</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("css", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    
    <div id="cssmenu">
        <ul>
            <li><a href="~/"><span>ACE - SignalR</span></a></li>
            <li><a href="~/home/webapi/"><span>Ace - WebAPI</span></a></li>
            <li><a href="~/codemirror/"><span>CodeMirror - SignalR</span></a></li>
            <li class="last"><a href="~/codemirror/webapi/"><span>CodeMirror - WebAPI</span></a></li>
        </ul>
    </div>

    <div id="main">
        @RenderBody()
    </div>

</body>
</html>